<!DOCTYPE html>
{%extends 'home.html'%}
{%block body_block%}

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h3 style="text-align:center;">Create post</h3>

            <form id="post-form">
                {%csrf_token%}
                {% for field in form %}
                <p>{{field}}</p>
                {% endfor %}
<!--                {{form.as_p}}-->
                <input type="submit" value="post">
            </form>

        </div>
        <div class="col-4"></div>
    </div>
</div>

{% endblock %}



{% block javascript %}
<script>
    /*
        On submiting the form, send the POST ajax
        request to server and after successfull submission
        display the object.
    */
    $("#post-form").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'createpost' %}",
            data: serializedData,
            success: function (response) {
                // on successfull creating object
                // 1. clear the form.
                $("#post-form").trigger('reset');
                // 2. focus to nickname input
<!--                $("#id_title").focus();-->


            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })
</script>
{% endblock javascript %}
